@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');

* {
    
    background: #e5e5e5;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
}

.logo-alura {
    margin-left: 10px;
    padding-top: 10px;
    
}

main {
    display: flex;
    margin-bottom: 50px;
    margin-left: 80px;
}

.text-area {
    border: none;
    color: #0a3871;
    margin-top: 90px;
    text-transform: lowercase;
}

::placeholder {
    color: #0a3871;
    opacity: 50%;
    .text-area:focus {
        outline: none;
    }
}

.msg {
    background: white;
    background-image: url(assets/imagem.svg);
    background-repeat: no-repeat;
    border: none;
    border-radius: 24px;
    color: #0a3871;
    margin-left: 20px;
    margin-top: 98px;
    padding-left: 20px;
    position: fixed;
}

.msg:focus {
    outline: none;
}

.botoes {
    display: flex;
    margin-top: 18px;
}